<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Delete | file</title>
<body>
<section layout:fragment="content">
    <div class="col-md-12">
        <h2>Delete File</h2>
        <h3>Are you sure ?</h3>
        <form method="post" th:object="${fileShare}" enctype="multipart/form-data" class="form">
            <div class="form-group row">
                <input type="hidden" class="form-control" th:field="*{id}">

                <lable class="col-md-2">Name</lable>
                <input type="text" class="form-control col-md-10" th:field="*{name}" disabled />
            </div>
            <div class="form-group row">
                <lable class="col-md-2">File</lable>
                <input type="text" class="form-control col-md-10" th:field="*{feature}" disabled />
            </div>
            <div class="form-group row">
                <lable class="col-md-2">Description</lable>
                <input type="text" class="form-control col-md-10" th:field="*{description}" disabled />
            </div>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-10">
                    <button type="submit" class="btn btn-danger" >Delete</button>
                </div>
            </div>
        </form>
    </div>
</section>
</body>
</html>